{% extends 'base.html.twig' %}

{% block title %}Congratulations
{% endblock %}

{% block body %}
	<div class="congratulation-container">
		<h1 class="text-center text-primary">Bravo vous faites parti de la bande</h1>
		<div class="explication-text">
			<p>Merci beaucoup de nous avoir fait confiance, nous reviendrons vers vous dès que nous vous aurons trouvé des affinités.</p>
			<p>D'ici là, souvenez-vous qu'il ne faut pas respirer de la compote, ça fait tousser !</p>
		</div>
	</div>

{% endblock %}
