{% extends 'base.html.twig' %}

{% block title %}Hello YouMonKeez
{% endblock %}

{% block body %}


	<h1 class="text-center">Hello YouMonKeez!
	</h1>
	<img src='{{ asset('image/logo.png')}}' class='img-logo'/>
	<div class='presentation-text'>
		<p>Bienvenue sur cette page web destinée à recueillir vos informations personnelles.</p>
		<p>Le but étant de faire correspondre des affinités géographiques et cinématographiques !
		</p>
		<p>Merci de cliquer
			<a href={{ path("form") }}>ici</a>
			pour remplir notre formulaire</p>
		<div>

		{% endblock %}
