{% extends 'base.html.twig' %}

{% block title %}Hello
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ name }}! ✅</h1>

		<p>Bienvenue sur cette page web destinée à recueillir vos informations personnelles.</p>
		<p>Le but étant de faire correspondre des affinités géographiques et cinématographiques !
		</p>
		<p>Merci de cliquer
			<a href={{ path("form") }}>ici</a>
			pour remplir notre formulaire</p>

	</div>
{% endblock %}
