body {
  background-color: #c2d2f2;
  padding: 30px;
}

.img-logo {
  display: block;
  width: 180px;
  margin: auto;
}

.presentation-text p {
  text-align: center;
  font-size: 18px;
  color: black;
}

.presentation-text p a {
  color: #d95448;
}

.form {
  margin: 1em auto;
  max-width: 600px;
  width: 66%;
  font: 18px / 1.5 sans-serif;
  padding: 8px;
}

.explication-text {
  width: 40%;
  margin: auto;
  color: black;
}

.congratulation-container {
  margin: auto;
  width: 90%;
}
